<div class="product-wrapper homepage">
    <div class="container">
        <header>
            <h4>Новая коллекция одежды</h4>
            <h5>Для деловых мужчин</h5>
        </header>
        <div class="row">
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img src="http://www.placehold.it/270x350" />
                    </figure>
                    <section class="name">
                        <a href="#">Куртка Jums</a>
                    </section>
                    <section class="prices">
                        <span class="price">9000 грн</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img src="http://www.placehold.it/270x350" />
                    </figure>
                    <section class="name">
                        <a href="#">Куртка Jums</a>
                    </section>
                    <section class="prices">
                        <span class="price">9000 грн</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img src="http://www.placehold.it/270x350" />
                    </figure>
                    <section class="name">
                        <a href="#">Куртка Jums</a>
                    </section>
                    <section class="prices">
                        <span class="price">9000 грн</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-item">
                    <figure>
                        <img src="http://www.placehold.it/270x350" />
                    </figure>
                    <section class="name">
                        <a href="#">Куртка Jums</a>
                    </section>
                    <section class="prices">
                        <span class="price">9000 грн</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="center-block text-center">
                    <a class=" btn btn-default view-all-products-button" href="#">просмотреть все молели</a>
                </div>
            </div>
        </div>
    </div>
</div> 