<div class="messagebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <span class="title">Одежда для мкжчин со вкусом</span>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-default">Купить сейчас <i class=" fa fa-arrow-circle-o-right"></i></button>
            </div>
        </div>
    </div>
</div>