<div class="newletter-wrapper">
    <div class="container">
        <h4> C Нами работают известные Европейскин брэнды</h4>
        <p>C Нами работают известные Европейскин брэнды из Германии и Италии</p>
        <div class="newsletter-input-wrapper">
            <div class="row">
                <div class="col-lg-8"><input type="text" /></div>
                <div class="col-lg-4"><input type="button" class="btn btn-default" value="Заказать" /></div>
            </div>
        </div>
    </div>
</div> 